*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.6; }

.heading-1 {
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1; }

.heading-2 {
  color: #5831ff;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3rem; }

p {
  font-size: 1.5rem;
  font-weight: 400; }

.header {
  height: 100vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      min-height: 100vh; } }
  .header__left {
    background-color: #4b21ff;
    height: 100vh;
    width: 45%; }
    @media only screen and (max-width: 37.5em) {
      .header__left {
        width: 100%;
        display: block;
        height: 60vh; } }
  .header__right {
    width: 30%;
    display: inline-block;
    position: absolute;
    right: 5vw;
    top: 30vh; }
    @media only screen and (max-width: 37.5em) {
      .header__right {
        width: 100%;
        display: block;
        position: relative;
        z-index: 3;
        top: 0;
        right: 0;
        padding: 2rem; } }
  .header__image {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 10%;
    width: 40%;
    height: 80%;
    background-image: url(../images/FullSizeRender.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 37.5em) {
      .header__image {
        width: 60%;
        height: 45%;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -40%); } }

.btn {
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
  box-sizing: border-box !important;
  border-radius: 200px;
  text-decoration: none; }
  .btn--small {
    font-size: 1rem;
    padding: 1rem 2rem; }
  .btn--large {
    font-size: 1.8rem;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 56.25em) {
      .btn--large {
        font-size: 1rem;
        padding: 1rem 2rem; } }
  .btn a {
    text-decoration: none;
    color: currentColor; }
  .btn--blue {
    background-color: #4b21ff;
    color: #fff;
    border: 2px solid #4b21ff; }
  .btn--white {
    border: 2px solid black;
    color: black; }
  .btn--blue:hover {
    color: #4b21ff;
    background-color: #fff;
    border: 2px solid black; }
  .btn--white:hover {
    color: #fff;
    background-color: #4b21ff;
    border: 2px solid #4b21ff; }
  .btn:hover {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(1px); }

.margin-bottom-sm {
  margin-bottom: 1rem !important; }

.margin-bottom-md {
  margin-bottom: 2rem !important; }

.margin-right-small {
  margin-right: 2rem !important; }

.sidebar {
  grid-row: 1 / 2;
  position: fixed;
  top: 2rem;
  right: 2rem; }
  .sidebar, .sidebar::before, .sidebar::after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 3.5rem;
    background-color: black; }
  .sidebar::before, .sidebar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s; }
  .sidebar::before {
    top: -.8rem; }
  .sidebar::after {
    top: .8rem; }
  .sidebar__checkbox {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1rem;
    visibility: hidden; }
  .sidebar__checkbox:checked {
    visibility: visible; }

.skills {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .skills__flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .skills__item {
    font-size: 2rem;
    width: 24%;
    padding: 2rem; }
    .skills__item i {
      margin-right: .3rem; }
    .skills__item span {
      display: block; }
    @media only screen and (max-width: 37.5em) {
      .skills__item {
        width: 49%; } }
  .skills__heading {
    display: block;
    width: 100%; }

.projects {
  text-align: center; }
  .projects__heading {
    text-align: center; }
  .projects__details {
    position: relative;
    width: 28%;
    display: inline-block;
    margin: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .projects__details {
        width: 90%; } }
  .projects__details:hover .projects__hover {
    opacity: 1; }
  .projects__image {
    display: block;
    height: 35rem;
    width: 100%; }
  .projects__hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    transition: opacity .5s; }
    .projects__hover--all {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-wrap: wrap; }
      .projects__hover--all span {
        padding: 1rem;
        margin: 1.2rem;
        background-color: #4b21ff;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
        color: white;
        font-weight: 400;
        text-align: center; }

.popup {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 2rem; }
  .popup__content {
    width: 80%;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    padding: 3rem;
    transition: all .2s;
    overflow: auto; }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        margin-bottom: 6px; } }
  .popup__left {
    width: 50%;
    height: 100%;
    display: inline-block; }
  .popup__right {
    float: right;
    width: 50%;
    padding-left: 2rem;
    display: inline-block; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem; }
  .popup__img {
    width: 100%;
    min-height: 70vh;
    display: inline-block; }

.about-me {
  height: 95vh;
  text-align: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/chris-liverani-401112-unsplash.jpg");
  background-position: top;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .about-me {
      min-height: 95vh; } }
  .about-me__desc {
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.contact {
  font-family: inherit;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/mirza-babar-baig-640530-unsplash.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      background-image: none; } }
  .contact__heading {
    color: #4b21ff;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 3rem; }
  .contact__form {
    display: inline-block;
    width: 50%;
    padding: 0 5rem 5rem 5rem;
    color: #5831ff;
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .contact__form {
        width: 95%;
        padding: 5rem 0; } }
    .contact__form > * {
      padding: .5rem;
      outline: none;
      border-radius: 3px;
      font-family: inherit;
      width: 100%; }
    .contact__form label {
      font-size: 1.6rem; }

.footer {
  text-align: center;
  padding: 3rem;
  background-color: #4b21ff;
  color: white;
  font-weight: 600;
  font-size: 2rem; }
  .footer__left {
    width: 40%;
    display: inline-block; }
    .footer__left h3 {
      border-bottom: 1px solid #a9a9a9;
      margin-bottom: .4rem; }
    .footer__left p {
      font-size: 1.6rem; }
  .footer__right {
    width: 40%;
    display: inline-block;
    float: right; }
    .footer__right .icons i {
      font-size: 4rem;
      color: #fff;
      margin-right: 1rem; }
    .footer__right .icons i:hover {
      color: orangered; }
