.contact {
    grid-column: 1 / -1;
    font-family: inherit;
    background-image: linear-gradient(to right,rgba(#fff, 0.8), rgba(#fff, 0.8)), url("../images/mirza-babar-baig-640530-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

    display: grid;
    grid-template-columns: 5rem 1fr 1fr 5rem;
    align-content: center;

    @media only screen and (max-width: $small-screen) {
        background-image: none;
    }

    &__heading {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        text-align: center;
        color: $color-primary;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 3rem;
    }

    &__form {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 5rem;
        position: relative;
        align-self: center;
        justify-self: center;
        color: $color-secondary;    
        
        @media only screen and (max-width: $medium-screen) {
            width: 70%;
        }

        @media only screen and (max-width: $small-screen) {
            width: 95%;
            padding: 5rem 0;
            
        }

        & > * {
            padding: .5rem;
            outline: none;
            border-radius: 3px;

            font-family: inherit;
            width: 100%;
        }

        label {
            font-size: 1.6rem;
        }
    }   

   
}