.header  {
    height: 100vh;
    position: relative;


    @media only screen and (max-width: $small-screen) {
      min-height: 100vh;
    }

    &__left {
        background-color: $color-primary;
        height: 100vh;
        width: 45%;


        @media only screen and (max-width: $small-screen) {
          width: 100%;
          display: block;
          height: 60vh;
        }
        @media only screen and (max-width: $xs-screen) {

        }
    }

    &__right {
        width: 30%;
        display: inline-block;
        position: absolute;
        right: 5vw;
        top: 30vh;

        @media only screen and (max-width: $small-screen) {
          width: 100%;
          display: block;
          position: relative;
          z-index: 3;
          top: 0;
          right: 0;
          padding: 2rem;
        }

        @media only screen and (max-width: $xs-screen) {

        }
    }

    &__image {
        display: inline-block;
        position: absolute;
        left: 20%;
        top: 10%;
        width: 40%;
        height: 80%;
        background-image: url(../images/FullSizeRender.jpg);
        // background-image: linear-gradient(to right, rgba($color-secondary, 0.6), rgba(#a9a9a9, 0.6)), url(../images/FullSizeRender.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: 0 1rem 4rem rgba(0,0,0,0.6);

        @media only screen and (max-width: $small-screen) {
          width: 60%;
          height: 45%;
          position: absolute;
          left: 50%;
          top: 25%;
          transform: translate(-50%, -40%);
        }

        @media only screen and (max-width: $xs-screen) {

        }
    }
}
