.sidebar {
    grid-row: 1 / 2;
    position: fixed;
    top: 2rem;
    right: 2rem;


    &,
    &::before,
    &::after {
        content: "";
        display: inline-block;
        height: 4px;
        width: 3.5rem;
        background-color: black;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem;}

    &__checkbox {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -1rem;
        visibility: hidden;
    }

    &__checkbox:checked {
        visibility: visible;
    }

}