.skills {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__flex-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }


    @media only screen and (max-width: $small-screen) {

    }

    @media only screen and (max-width: $xs-screen) {

    }



     &__item {
        font-size: 2rem;
        width: 24%;
        padding: 2rem;

        i {
            margin-right: .3rem;
        }
        span {
          display: block;
        }

        @media only screen and (max-width: $small-screen) {
          width: 49%;
        }
     }

     &__heading {
       display: block;
        width: 100%;
     }
}
